<center><h1>Hu_Yaqi_HW3</h1></center>
<br>
<br>

Name: Hu, Yaqi
<br>
Github Username: YaqiHu23
<br>
USC ID: 7191264555

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [1225]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
from sklearn.preprocessing import MinMaxScaler

Get the AReM Data Set

In [1226]:
# Dataset folder
AReM_path = '../AReM/'

### (b) Test and Train Data

I reorganize the dataset into /foldername/train (test)/files, such as /bending 1/train/dataset1. \
\
The structure will like: \
<pre>
AReM-\
    bending 1\
        train\
            file1\
            ...\
        test\
            file1\
            ...\
    bending 2\
        ...\
    ...\
</pre>

I defined a function to help me read the data: read_train_test()

In [1227]:
folder_name = ['bending1', 'bending2', 'cycling', 'lying', 'sitting', 'standing', 'walking']
header_name = ['time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']
def read_train_test(folder_name_f, data_path):
    test_datas = pd.DataFrame([])
    train_datas = pd.DataFrame([])

    test_path = data_path + folder_name_f + '/' + 'test'
    file_list = os.listdir(test_path)
    for fl_te in file_list:
        read_path = test_path + '/' + fl_te
        temp_test_data = pd.read_csv(read_path, delimiter=',', skiprows=5, header=None)
        temp_test_data.columns = header_name
        test_datas = pd.concat([test_datas, temp_test_data])

    train_path = data_path + folder_name_f + '/' + 'train'
    file_list = os.listdir(train_path)
    # print(file_list)
    for fl_tr in file_list:
        # print(fl_tr)
        read_path = train_path + '/' + fl_tr
        # print(read_path)
        temp_train_data = pd.read_csv(read_path, delimiter=',', skiprows=5, header=None)
        # print(temp_train_data)
        # print(fl_tr)
        temp_train_data.columns = header_name
        train_datas = pd.concat([train_datas, temp_train_data])
    return test_datas, train_datas

In reading the dataset, several problems found. \
First, pending 2 has some dataset using space as delimiter, I changed them manually. \
\
second, in sitting training set (dataset8.csv), one row missing. \
Data go directly from 13250 to 13750 without 13500. I using the data in 13250 and change it first column 13250 to 13500 to fill the dataset.

In [1228]:
# ['bending1', 'bending2', 'cycling', 'lying', 'sitting', 'standing', 'walking']
bending1_testdata, bending1_traindata = read_train_test(folder_name[0], AReM_path)
print(f'This is how the dataset looks like:\n', bending1_testdata.head())
print(f'This is the {folder_name[0]} test and train shape: {bending1_testdata.shape}, {bending1_traindata.shape}')
print(f'Test csv file number: {bending1_testdata.shape[0]/480}')
print(f'Train csv file number: {bending1_traindata.shape[0]/480}')

print('--------------------------------------')

bending2_testdata, bending2_traindata = read_train_test(folder_name[1], AReM_path)
# print(f'This is how the dataset looks like:\n', bending2_testdata.head())
print(f'This is the {folder_name[1]} test and train shape: {bending2_testdata.shape}, {bending2_traindata.shape}')
print(f'Test csv file number: {bending2_testdata.shape[0]/480}')
print(f'Train csv file number: {bending2_traindata.shape[0]/480}')

print('--------------------------------------')

cycling_testdata, cycling_traindata = read_train_test(folder_name[2], AReM_path)
# print(f'This is how the dataset looks like:\n', cycling_testdata.head())
print(f'This is the {folder_name[2]} test and train shape: {cycling_testdata.shape}, {cycling_traindata.shape}')
print(f'Test csv file number: {cycling_testdata.shape[0]/480}')
print(f'Train csv file number: {cycling_traindata.shape[0]/480}')

print('--------------------------------------')

lying_testdata, lying_traindata = read_train_test(folder_name[3], AReM_path)
# print(f'This is how the dataset looks like:\n', lying_testdata.head())
print(f'This is the {folder_name[3]} test and train shape: {lying_testdata.shape}, {lying_traindata.shape}')
print(f'Test csv file number: {lying_testdata.shape[0]/480}')
print(f'Train csv file number: {lying_traindata.shape[0]/480}')

print('--------------------------------------')

sitting_testdata, sitting_traindata = read_train_test(folder_name[4], AReM_path)
# print(f'This is how the dataset looks like:\n', lying_testdata.head())
print(f'This is the {folder_name[4]} test and train shape: {sitting_testdata.shape}, {sitting_traindata.shape}')
print(f'Test csv file number: {sitting_testdata.shape[0]/480}')
print(f'Train csv file number: {sitting_traindata.shape[0]/480}')

print('--------------------------------------')

standing_testdata, standing_traindata = read_train_test(folder_name[5], AReM_path)
# print(f'This is how the dataset looks like:\n', lying_testdata.head())
print(f'This is the {folder_name[5]} test and train shape: {standing_testdata.shape}, {standing_traindata.shape}')
print(f'Test csv file number: {standing_testdata.shape[0]/480}')
print(f'Train csv file number: {standing_traindata.shape[0]/480}')

print('--------------------------------------')

walking_testdata, walking_traindata = read_train_test(folder_name[6], AReM_path)
# print(f'This is how the dataset looks like:\n', lying_testdata.head())
print(f'This is the {folder_name[6]} test and train shape: {walking_testdata.shape}, {walking_traindata.shape}')
print(f'Test csv file number: {walking_testdata.shape[0]/480}')
print(f'Train csv file number: {walking_traindata.shape[0]/480}')

This is how the dataset looks like:
    time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
0     0      39.25       0.43      22.75       0.43      33.75        1.3
1   250      39.25       0.43      23.00       0.00      33.00        0.0
2   500      39.25       0.43      23.25       0.43      33.00        0.0
3   750      39.50       0.50      23.00       0.71      33.00        0.0
4  1000      39.50       0.50      24.00       0.00      33.00        0.0
This is the bending1 test and train shape: (960, 7), (2400, 7)
Test csv file number: 2.0
Train csv file number: 5.0
--------------------------------------
This is the bending2 test and train shape: (960, 7), (1920, 7)
Test csv file number: 2.0
Train csv file number: 4.0
--------------------------------------
This is the cycling test and train shape: (1440, 7), (5760, 7)
Test csv file number: 3.0
Train csv file number: 12.0
--------------------------------------
This is the lying test and train shape: (1440, 7), (5760, 7)
Test csv file number: 3.0
Train csv file number: 12.0
--------------------------------------
This is the sitting test and train shape: (1440, 7), (5760, 7)
Test csv file number: 3.0
Train csv file number: 12.0
--------------------------------------
This is the standing test and train shape: (1440, 7), (5760, 7)
Test csv file number: 3.0
Train csv file number: 12.0
--------------------------------------
This is the walking test and train shape: (1440, 7), (5760, 7)
Test csv file number: 3.0
Train csv file number: 12.0

### (c) Feature Extraction

#### i. Research

##### Time-domain features:
Mean: Average value \
Median: Middle value \
Mode: Most frequently occurring value \
Min, Max: min, max value \
Range: Max - min \
Variance: Quantifies the spread of the data \
Entropy: Measure the randomness/uncertainty in time series \
quartile: 1st, 2nd, 3rd quartile

#### ii. Extraction

In [1229]:
# We need first read all instances in

instances = []

# Next we need to read all data from each folders, here we need define several paths
paths = ['../AReM/bending1/', '../AReM/bending2/', '../AReM/cycling/', '../AReM/lying/', '../AReM/sitting/', '../AReM/standing/', '../AReM/walking/']

# Next we read each data from test/train.
for pt in paths:
    test_path = pt + 'test/'
    test_list = os.listdir(test_path)
    for tn in test_list:
        read_path = test_path + tn
        temp_test_data = pd.read_csv(read_path, delimiter=',', skiprows=5, header=None)
        instances.append(temp_test_data)
    # print(test_path)
    train_path = pt + 'train/'
    train_list = os.listdir(train_path)
    for tn in train_list:
        read_path = train_path + tn
        temp_train_data = pd.read_csv(read_path, delimiter=',', skiprows=5, header=None)
        instances.append(temp_train_data)

instances = np.array(instances)
print('Total read instances: ', instances.shape)

Total read instances:  (88, 480, 7)

In [1230]:
# Next we extract the features

Features = []

for ins in range(0, instances.shape[0]):
    # Iterate through all instance
    # Get the instance
    ins_deal = instances[ins]
    # print(ins_deal.shape)

    # Split the data
    time_series_deal = np.hsplit(ins_deal, 7)
    # print(len(time_series_deal))
    for ts in range(1, 7):
        ts_deal = time_series_deal[ts]
        # print(ts_deal)
        ts_deal = np.array(ts_deal)
        Features.append([ts_deal.min(), ts_deal.max(), ts_deal.mean(), np.median(ts_deal), ts_deal.std(), np.percentile(ts_deal, 25), np.percentile(ts_deal, 75)])

Features = np.array(Features)
# print(Features.shape)
Features_re = Features.reshape(88, 6, 7)
# print(Features_re)

#### Let we print each time series features as a table.
Here I print different time series in different table.

##### avg_rss12

In [1231]:
# header_name = ['time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

ts_1 = pd.DataFrame(Features_re[:, 0, :])
ts_1.index = (range(1, 89))
ts_1.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_1

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,37.25,45.00,40.624792,40.500,1.475428,39.25,42.0000
2,38.00,45.67,42.812812,42.500,1.434054,42.00,43.6700
3,35.00,47.40,43.954500,44.330,1.557210,43.00,45.0000
4,33.00,47.75,42.179812,43.500,3.666840,39.15,45.0000
5,33.00,45.75,41.678063,41.750,2.241152,41.33,42.7500
...,...,...,...,...,...,...,...
84,20.75,46.25,34.763333,35.290,4.737266,31.67,38.2500
85,21.50,51.00,34.935812,35.500,4.641102,32.00,38.0625
86,18.33,47.67,34.333042,34.750,4.943612,31.25,38.0000
87,18.33,45.75,34.599875,35.125,4.726858,31.50,38.0000
88,15.50,43.67,34.225875,34.750,4.437168,31.25,37.2500

##### var_rss12

In [1232]:
ts_2 = pd.DataFrame(Features_re[:, 1, :])
ts_2.index = (range(1, 89))
ts_2.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_2

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,1.30,0.358604,0.430,0.322269,0.00,0.5000
2,0.0,1.22,0.372437,0.470,0.288857,0.00,0.5000
3,0.0,1.70,0.426250,0.470,0.338337,0.00,0.5000
4,0.0,3.00,0.696042,0.500,0.630203,0.00,1.1200
5,0.0,2.83,0.535979,0.500,0.405046,0.43,0.7100
...,...,...,...,...,...,...,...
84,0.0,12.68,4.223792,3.900,2.275630,2.49,5.7225
85,0.0,12.21,4.115750,3.845,2.332809,2.35,5.6250
86,0.0,12.48,4.396958,3.900,2.566003,2.49,5.7450
87,0.0,15.37,4.398833,4.025,2.535875,2.55,5.7675
88,0.0,17.24,4.354500,3.900,2.516365,2.49,5.7650

##### avg_rss13

In [1233]:
ts_3 = pd.DataFrame(Features_re[:, 2, :])
ts_3.index = (range(1, 89))
ts_3.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_3

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,4.00,29.50,19.040937,19.250,4.458301,16.00,23.2500
2,2.00,29.50,20.096979,21.000,3.889679,19.00,22.2500
3,6.50,29.75,22.122354,23.000,3.027784,19.75,24.0000
4,8.50,30.00,22.183625,23.000,3.806498,20.50,24.3725
5,3.00,28.25,19.006563,19.125,4.082847,16.50,22.0625
...,...,...,...,...,...,...,...
84,5.00,23.75,15.239021,15.330,2.917784,13.50,17.2500
85,6.50,23.33,15.524521,15.500,2.897226,13.33,17.6700
86,7.67,23.33,15.562896,15.500,2.964648,13.67,17.5000
87,5.50,24.00,15.173667,15.000,3.033581,13.00,17.3725
88,7.67,23.00,15.606479,15.500,2.809343,13.75,17.5000

##### var_rss13

In [1234]:
ts_4 = pd.DataFrame(Features_re[:, 3, :])
ts_4.index = (range(1, 89))
ts_4.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_4

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,7.23,0.832542,0.500,0.964652,0.0000,1.1200
2,0.0,5.76,0.876438,0.500,1.046167,0.0000,1.1450
3,0.0,4.44,0.497312,0.430,0.550083,0.0000,0.8300
4,0.0,5.15,0.989917,0.830,0.952736,0.4300,1.3000
5,0.0,6.42,0.841875,0.500,0.927833,0.4300,1.1200
...,...,...,...,...,...,...,...
84,0.0,9.20,3.207062,3.000,1.588814,2.0500,4.1950
85,0.0,9.09,3.092792,2.870,1.501879,2.0575,3.8400
86,0.0,9.01,3.198313,2.930,1.674524,2.0500,4.2450
87,0.0,9.18,3.145500,3.015,1.589688,2.0375,4.1575
88,0.0,9.20,3.365375,3.030,1.728989,2.1200,4.4400

##### avg_rss23

In [1235]:
ts_5 = pd.DataFrame(Features_re[:, 4, :])
ts_5.index = (range(1, 89))
ts_5.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_5

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,27.25,38.25,34.311292,35.00,2.186168,33.0000,36.00
2,27.67,38.50,33.024583,33.00,1.993175,32.0000,34.50
3,29.00,38.50,35.588458,36.00,1.997520,35.3625,36.50
4,20.00,38.67,33.493917,35.00,3.845436,30.4575,36.33
5,23.67,37.50,29.857083,30.00,2.408514,28.4575,31.25
...,...,...,...,...,...,...,...
84,6.00,25.50,16.299563,16.25,3.171372,14.2500,18.33
85,6.33,25.00,15.997229,16.25,3.188731,14.2375,18.25
86,6.67,24.00,15.864437,16.00,2.997366,13.7500,18.00
87,6.50,23.25,16.055563,16.00,2.902659,14.0000,18.25
88,5.75,24.00,16.148000,16.25,2.989801,14.3300,18.25

##### var_rss23

In [1236]:
ts_6 = pd.DataFrame(Features_re[:, 5, :])
ts_6.index = (range(1, 89))
ts_6.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_6

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,1.92,0.570583,0.430,0.582308,0.00,1.3000
2,0.0,3.11,0.571083,0.430,0.600383,0.00,1.3000
3,0.0,1.79,0.493292,0.430,0.512971,0.00,0.9400
4,0.0,2.18,0.613521,0.500,0.523771,0.00,1.0000
5,0.0,1.79,0.383292,0.430,0.388759,0.00,0.5000
...,...,...,...,...,...,...,...
84,0.0,9.39,3.288271,3.270,1.645811,2.05,4.3050
85,0.0,10.21,3.280021,3.015,1.699145,2.12,4.5000
86,0.0,8.01,3.261583,2.980,1.615604,2.05,4.3200
87,0.0,8.86,3.289542,3.015,1.678418,2.12,4.2600
88,0.0,9.42,3.479542,3.270,1.759311,2.24,4.5375

#### We also can normalize features, Here I use the minimax scaler to do it.

##### avg_rss12

In [1237]:
scaler = MinMaxScaler()

features_scaler = scaler.fit_transform(Features)

# print(features_scaler.shape)
Features_re_scaler = features_scaler.reshape(88, 6, 7)

ts_sc_1 = pd.DataFrame(Features_re_scaler[:, 0, :])
ts_sc_1.index = (range(1, 89))
ts_sc_1.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_1

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.776042,0.798459,0.846253,0.843750,0.184741,0.817708,0.777778
2,0.791667,0.810462,0.891840,0.885417,0.179445,0.875000,0.808704
3,0.729167,0.841455,0.915627,0.923542,0.195208,0.895833,0.833333
4,0.687500,0.847725,0.878652,0.906250,0.465215,0.815625,0.833333
5,0.687500,0.811895,0.868198,0.869792,0.282744,0.861042,0.791667
...,...,...,...,...,...,...,...
84,0.432292,0.820853,0.724132,0.735208,0.602217,0.659792,0.708333
85,0.447917,0.905948,0.727726,0.739583,0.589909,0.666667,0.704861
86,0.381875,0.846292,0.715167,0.723958,0.628626,0.651042,0.703704
87,0.381875,0.811895,0.720726,0.731771,0.600885,0.656250,0.703704
88,0.322917,0.774633,0.712934,0.723958,0.563808,0.651042,0.689815

##### var_rss12

In [1238]:
ts_sc_2 = pd.DataFrame(Features_re_scaler[:, 1, :])
ts_sc_2.index = (range(1, 89))
ts_sc_2.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_2

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,0.015586,0.007322,0.008958,0.037150,0.000000,0.009259
2,0.0,0.014153,0.007610,0.009792,0.032874,0.000000,0.009259
3,0.0,0.022752,0.008731,0.009792,0.039207,0.000000,0.009259
4,0.0,0.046041,0.014352,0.010417,0.076562,0.000000,0.020741
5,0.0,0.042995,0.011018,0.010417,0.047745,0.008958,0.013148
...,...,...,...,...,...,...,...
84,0.0,0.219455,0.087852,0.081250,0.287157,0.051875,0.105972
85,0.0,0.211035,0.085601,0.080104,0.294475,0.048958,0.104167
86,0.0,0.215872,0.091460,0.081250,0.324321,0.051875,0.106389
87,0.0,0.267646,0.091499,0.083854,0.320465,0.053125,0.106806
88,0.0,0.301147,0.090575,0.081250,0.317968,0.051875,0.106759

#### avg_rss13

In [1239]:
ts_sc_3 = pd.DataFrame(Features_re_scaler[:, 2, :])
ts_sc_3.index = (range(1, 89))
ts_sc_3.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_3

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.083333,0.520781,0.396562,0.401042,0.566512,0.333333,0.430556
2,0.041667,0.520781,0.418564,0.437500,0.493736,0.395833,0.412037
3,0.135417,0.525260,0.460762,0.479167,0.383424,0.411458,0.444444
4,0.177083,0.529738,0.462038,0.479167,0.483090,0.427083,0.451343
5,0.062500,0.498388,0.395845,0.398438,0.518459,0.343750,0.408565
...,...,...,...,...,...,...,...
84,0.104167,0.417771,0.317350,0.319375,0.369345,0.281250,0.319444
85,0.135417,0.410247,0.323298,0.322917,0.366714,0.277708,0.327222
86,0.159792,0.410247,0.324098,0.322917,0.375343,0.284792,0.324074
87,0.114583,0.422250,0.315988,0.312500,0.384166,0.270833,0.321713
88,0.159792,0.404335,0.325006,0.322917,0.355466,0.286458,0.324074

#### var_rss13

In [1240]:
ts_sc_4 = pd.DataFrame(Features_re_scaler[:, 3, :])
ts_sc_4.index = (range(1, 89))
ts_sc_4.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_4

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,0.121820,0.017196,0.010417,0.119368,0.000000,0.020741
2,0.0,0.095485,0.018111,0.010417,0.129801,0.000000,0.021204
3,0.0,0.071838,0.010212,0.008958,0.066308,0.000000,0.015370
4,0.0,0.084558,0.020475,0.017292,0.117843,0.008958,0.024074
5,0.0,0.107309,0.017391,0.010417,0.114655,0.008958,0.020741
...,...,...,...,...,...,...,...
84,0.0,0.157112,0.066669,0.062500,0.199253,0.042708,0.077685
85,0.0,0.155142,0.064288,0.059792,0.188126,0.042865,0.071111
86,0.0,0.153708,0.066486,0.061042,0.210223,0.042708,0.078611
87,0.0,0.156754,0.065386,0.062812,0.199365,0.042448,0.076991
88,0.0,0.157112,0.069967,0.063125,0.217193,0.044167,0.082222

#### avg_rss23

In [1241]:
ts_sc_5 = pd.DataFrame(Features_re_scaler[:, 4, :])
ts_sc_5.index = (range(1, 89))
ts_sc_5.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_5

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.567708,0.677535,0.714714,0.729167,0.275707,0.687500,0.666667
2,0.576458,0.682014,0.687906,0.687500,0.251006,0.666667,0.638889
3,0.604167,0.682014,0.741323,0.750000,0.251562,0.736719,0.675926
4,0.416667,0.685059,0.697684,0.729167,0.488073,0.634531,0.672778
5,0.493125,0.664099,0.621912,0.625000,0.304164,0.592865,0.578704
...,...,...,...,...,...,...,...
84,0.125000,0.449122,0.339446,0.338542,0.401801,0.296875,0.339444
85,0.131875,0.440165,0.333147,0.338542,0.404023,0.296615,0.337963
86,0.138958,0.422250,0.330380,0.333333,0.379530,0.286458,0.333333
87,0.135417,0.408814,0.334362,0.333333,0.367409,0.291667,0.337963
88,0.119792,0.422250,0.336288,0.338542,0.378562,0.298542,0.337963

#### var_rss23

In [1242]:
ts_sc_6 = pd.DataFrame(Features_re_scaler[:, 5, :])
ts_sc_6.index = (range(1, 89))
ts_sc_6.columns = ['Min', 'Max', 'Mean', 'Median', 'Standard deviation', 'First quartile', 'Third quartile']
ts_sc_6

,Min,Max,Mean,Median,Standard deviation,First quartile,Third quartile
1,0.0,0.026693,0.011739,0.008958,0.070432,0.000000,0.024074
2,0.0,0.048011,0.011749,0.008958,0.072746,0.000000,0.024074
3,0.0,0.024364,0.010128,0.008958,0.061558,0.000000,0.017407
4,0.0,0.031351,0.012633,0.010417,0.062940,0.000000,0.018519
5,0.0,0.024364,0.007836,0.008958,0.045660,0.000000,0.009259
...,...,...,...,...,...,...,...
84,0.0,0.160516,0.068361,0.068125,0.206548,0.042708,0.079722
85,0.0,0.175206,0.068189,0.062812,0.213374,0.044167,0.083333
86,0.0,0.135794,0.067805,0.062083,0.202682,0.042708,0.080000
87,0.0,0.151021,0.068387,0.062812,0.210721,0.044167,0.078889
88,0.0,0.161053,0.072346,0.068125,0.221074,0.046667,0.084028

We can see from the result, after the scaler, the value all between 0 and 1, which may lose the direct information for our data, so maybe it is not a good idea.

#### iii. Standard Deviation

In [1243]:
# Let we first get all standard deviation for each feature.
# Here we need to concat all datas for each feature.

instances_re = instances.reshape(42240, 7)
# print(instances_re.shape)
std_dev = []
for i in range(1, 7):
    std_dev.append(instances_re[:, i].std())

std_table = pd.DataFrame([std_dev[:]])
std_table.columns = ['avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']
std_table.index = ['STD_DEV']

std_table

         avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23
STD_DEV   6.337148   2.047937   5.435369   1.639512   6.735862   1.637098

In [1244]:
n_iterations = 1000
alpha = 0.1

std_dev_list = {hn: [] for hn in header_name[1:]}

instances_re_pd = pd.DataFrame(instances_re)
instances_re_pd.columns = header_name

# Iterate each time series
for hn in header_name[1:]:
    # Iterate for bootstrp
    for j in range(n_iterations):
        bootstrap = instances_re_pd[hn].sample(n = len(instances_re_pd), replace = True)
        value = bootstrap.std()
        # print(value)
        std_dev_list[hn].append(value)
        # print(bootstrap.std())
        # print(std_dev_list)
    # print(std_dev_list)

confidence_intervals = {}

for hn in header_name[1:]:
    lower = np.percentile(std_dev_list[hn], 100*alpha/2)
    upper = np.percentile(std_dev_list[hn], 100*(1-alpha/2))
    confidence_intervals[hn] = {'Lower': lower, 'Upper': upper}

print(pd.DataFrame(confidence_intervals).T)

              Lower     Upper
avg_rss12  6.303163  6.372381
var_rss12  2.026572  2.068085
avg_rss13  5.405528  5.465178
var_rss13  1.626956  1.652400
avg_rss23  6.688972  6.781472
var_rss23  1.623421  1.650944

#### iv. Select Features

I think Max, Median and Standard Deviation maybe the most important time-domain features

## 2. ISLR 3.7.4

### (a) Linear Train

For the training set, if we use a more flexible method, here is cubic regression, we will have a less RSS for training set. Because cubic regression will fit the training data more perfectly than linear.

### (b) Linear Test

However, cubic may perform very bad in testing set, so the linear regression will perform better.

### (c) Not Linear Train

For the training set, if we use a more flexible method, here is cubic regression, we will have a less RSS for training set. Because the true relationship is nonlienar, and cubic regression will fit the training data more perfectly than linear, also closer to real relationship.

### (d) Not Linear Testing

Cubic regression has more probability to perform better than linear, if it is not overfitting. However, if it is overfitting, it may perform worse. There is not enough information to tell it. Such as the true relationship is less than cubic, then face the same problem like (b).

## 3. ISLR 3.7.3 - Extra Practice

## 3. ISLR 3.7.5 - Extra Practice

##  Reference

1. https://en.wikipedia.org/wiki/Time_domain
2. https://stats.stackexchange.com/questions/50807/features-for-time-series-classification
3. https://developer.ibm.com/learningpaths/get-started-time-series-classification-api/what-is-time-series-classification/
4. https://acclab.github.io/bootstrap-confidence-intervals.html
5. https://moderndive.com/8-confidence-intervals.html